.in{
background-color: #1E202B;
border-radius: 50px;
padding: 15px;
width: 100%;
border: #1E202B;
}
.input{
  left:85%;
  width: 10%;
  bottom: 10%;
   /* padding: 10px 6%;  */
  /* border-radius: 20px; */
}
.bg-1{
  background-color: #323544;  
}
.bg-2{
 background-color:#1e202b;
}
.bg-degree{
color: white;

}
.bg-title{
  color: #009AD8;
}
.bg-name{
  color: #bfc1c8;
}
.bg-radius{


  border-radius:  10px 0px 0px 10px;
}
.bg-radius2{
  border-radius:  0px 10px 10px 0px;
}
.bg-background{
  background-image: url(../banner.png);
  
}